pdfplumber
transformers
torch
pydantic
pymupdf4llm
langchain
langchain-core
langchain-experimental
langchain-community
llama-index
langchain-huggingface
python-dotenv
FlashRank
chromadb
langchain-openai
rank_bm25
faiss-cpu
sqlalchemy
safetensors
langchain-text-splitters
llama-index-core
pymupdf
tqdm
langchain-groq
